/* Title & Header */
* {
  overflow-x: hidden;
}

.header {
  text-align: center;
  margin-top: 21%;
  padding: 0 150px;
}

.name {
  margin: auto;
  margin-bottom: 25px;
  font-size: 80px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.kicker {
  font-weight: 200;
  margin: auto;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.header-button {
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 4%;
  width: 450px;
  height: 60px;
  transition-duration: 0.5s;
  border: 1px grey solid;
  background-color: rgba(152, 151, 95, 0.29);
}

.header-button:hover {
  cursor: pointer;
  cursor: hand;
  background-color: rgba(152, 151, 95, 0.49)
}

/* Nav Bar */

nav {
  padding: 0 110px 0 190px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  text-align: center;
  animation: 0.8s ease slidein;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  font-weight: 200;
  letter-spacing: 3px;
  margin: 15px 15px;
  font-size: 12px;
  list-style: none;
}

nav li:hover {
  cursor: pointer;
  cursor: hand;
  transition-duration: 0.5s;
  color: #f6eda8;
}

.link {
  transition-duration: 0.5s;
}

.link:hover {
  color: #f6eda8;
}

.nav-name {
  margin: auto;
  letter-spacing: 3px;
  color: rgba(255, 254, 147, 0.6);
}

/* Bottom Quote */

.front-quote {
  text-align: center;
  margin: auto;
  max-width: 900px;
  margin-top: 15%;
}

.quote {
  margin-top: -40px;
  letter-spacing: 1.5px;
  font-weight: 200;
  font-size: 30px;
  color: rgba(192, 188, 188, 0.84);
}

.quotation {
  font-size: 9em;
  margin: auto;
  padding: auto;
  color: rgb(192, 188, 188);
}

.quote-name {
  letter-spacing: 2px;
  color: #c8c3c3;
}

.overlay {
  background-color: rgba(0,0,0,0.6);
  padding: 0 0 5% 0;
}

@keyframes slidein {
  from {
    margin: -10% 50%;
    width: 0%;
  }

  to {
    margin: 0;
    width: auto;
  }
}
