@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.box {
  height: 400px;
  width: 150px;
  background-color: grey;
  text-align: right;
  display: inline-block;
}

.box:hover {
  height: 300px;
  transform: scale(1.05);
  cursor: pointer;
}

.media {
  text-align: center;
  font-size: 11em;
  padding: 4% 5%;
  text-transform: uppercase;
  letter-spacing: 2px;
    /* margin-bottom: 25px; */
    /* height: 200px; */
}

h1.media {
  opacity: 1;
    margin: 10% 14%;
    color: rgba(255, 235, 59, 0.6);
    border: 2px solid rgba(255, 235, 59, 0.46);
}

.picture-name {
  margin: auto;
  display: inline-block;
  position: relative;
}

.media-container {
  width: 100%;
  vertical-align: middle;
  height: auto;
  padding: 5% 0;
}

.slider {
  background-color: grey;
  z-index: -2000;
  position: relative;
  height: 300px;
}

.overlay-media {
  position: relative;
  color:white;
}
