@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider.media {
  background-position: center;
  background-size: contain;
  height: 370px;
}

.lum-lightbox-inner img {
    max-width: 60% !important;
    max-height: 80% !important;
}

.lum-lightbox-image-wrapper {
    background: rgba(0,0,0,0.7);
}
.lum-gallery-button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 0px;
    padding: 0px;

    display: inline-block;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#fff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#fff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fff 0%,#fff 100%); /* W3C */
    border: 1px solid #a1a1a1;
    padding: 0 2em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    border-radius: 0px;
}

.lum-gallery-button:before {
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.7em;
    margin: 0 0.5em 0 -1em;
    padding: 0 .2em;
    pointer-events: none;
}

.lum-previous-button {
    opacity: 0.4;
    text-decoration: none;
    display: inline-block;
    background-color: #f1f1f1;
    color: black;

    position: fixed;
    top: 50%;
    left: 19.7%;
}

.lum-previous-button:hover {
  opacity: 1;
}

.lum-previous-button:before {
  content: "\2190"; 
}

.lum-next-button {
    opacity: 0.4;
    text-decoration: none;
    display: inline-block;
    background-color: #f1f1f1;
    color: black;

    position: fixed;
    top: 50%;
    right: 19.7%;
}

.lum-next-button:hover {
  opacity: 1;
}

.lum-next-button:before {
  content: "\2192";
}

.box {
  /*position: absolute;*/
	bottom: -20px;
  height: 200px;
  width: 200px;
  background-color: grey;
  text-align: right;
  overflow: hidden;
}

.box:hover {
  margin-left: 30px;
  overflow: hidden;
  height: 200px;
  width: 200px;
  transform: scale(1.1);
  cursor: pointer;
}


.cards-container {
  padding: 30px;
  overflow-x: hidden;
}

.media {
  text-align: center;
  font-size: 4em;
  /*padding: 4% 5%;*/
  /*padding: 3vw 5%;*/
  text-transform: uppercase;
  letter-spacing: 2px;
    /* margin-bottom: 25px; */
  height: 200px; 
}

h1.media {
  opacity: 1;
  /*margin: 0% 14%;*/
  margin: 5%;
  margin-top: 70px;
  color: rgba(255, 235, 59, 0.6);
  border: 2px solid rgba(255, 235, 59, 0.46);
}

.picture-name {
  margin: auto;
  display: inline-block;
  position: relative;
}

.media-container {
  width: 100%;
  vertical-align: middle;
  height: auto;
  padding: 5% 0;
}

.slider {
  background-color: grey;
  z-index: -2000;
  position: relative;
  height: 100%;
  background-size: cover;
  opacity: 0.6;
  width: 100%;
  /*height: 100%;*/
}

.sliderContainer {
  height: 370px;
}

.overlay-media {
  position: relative;
  color:white;
}

.snip1446:hover {
  transform: scale(1.10);
}

img.snip1446 {
  background-position: cover;
  width: 100%;
  overflow: hidden;
}
.snip1577 {
  transition-duration: 1s;
  animation-duration: 1s;
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  max-width: 100%;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  margin-top: 14%;
  vertical-align: center;
  height: 10%;
  /*filter: grayscale(100%);*/
}

/*.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 15px;
  right: 90px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}*/

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3 {
  margin: 0;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}
.snip1577 h4 {
  margin: 0;
  width: 0%;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

/*.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}*/

.snip1577:hover img,
.snip1577.hover img {
  background-position: center;
  transition-duration: 0.5s;
  filter: grayscale(0%);
  opacity: 0.9;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  width: 100%;
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@media (max-width: 375px) {
  .cards-container {
    padding: 30%;
  }
}
