@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.box {
  /*position: absolute;*/
	bottom: -20px;
  height: 200px;
  width: 200px;
  background-color: grey;
  text-align: right;
  overflow: hidden;
}

.box:hover {
  margin-left: 30px;
  overflow: hidden;
  height: 200px;
  width: 200px;
  transform: scale(1.1);
  cursor: pointer;
}


.cards-container {
  padding: 30px;
  overflow-x: hidden;
}

.media {
  text-align: center;
  font-size: 11em;
  padding: 4% 5%;
  text-transform: uppercase;
  letter-spacing: 2px;
    /* margin-bottom: 25px; */
    /* height: 200px; */
}

h1.media {
  opacity: 1;
    margin: 10% 14%;
    color: rgba(255, 235, 59, 0.6);
    border: 2px solid rgba(255, 235, 59, 0.46);
}

.picture-name {
  margin: auto;
  display: inline-block;
  position: relative;
}

.media-container {
  width: 100%;
  vertical-align: middle;
  height: auto;
  padding: 5% 0;
}

.slider {
  background-color: grey;
  z-index: -2000;
  position: relative;
  height: 300px;
}

.overlay-media {
  position: relative;
  color:white;
}

.snip1446:hover {
  transform: scale(1.10);
}

.snip1577 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 300px;
  max-width: 330px;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  vertical-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 10%;
  filter: grayscale(100%);
}

/*.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 15px;
  right: 90px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}*/

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3 {
  margin: 0;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}
.snip1577 h4 {
  margin: 0;
  width: 0%;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  background-position: center;
  zoom: 2;
  -webkit-opacity: 0.2;
  filter: grayscale(0%);
  opacity: 0.9;
  width: 400px;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  width: 100%;
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@media (max-width: 375px) {
  .cards-container {
    padding: 30%;
  }
}
