td {
  overflow: hidden;
}

.music {
  text-align: center;
  display: block;
  padding: 2% 0%;
  width: 100%;
}

.song-container {
  display: flex;
  justify-content: space-around;
}

.musicContainer {
  opacity: 0.9;
  background-image: url('https://res.cloudinary.com/ap-storage/image/upload/v1532115853/ap-music.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.songlist {
  /*margin-left: 8%;*/
  overflow: hidden;
}

.title-music {
  font-size: 98px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

/* Album */

.album-name {
  font-weight: 200;
  letter-spacing: 0.03em;
  font-size: 1.2em;
  margin-top: 2px;
  margin-bottom: 3px;
}

.author {
  font-size: 2em;
  margin-top: 11px;
  font-weight: 500;
  margin-bottom: -2px;
  text-transform: uppercase;
}

#autocontrols {
  background-color: 'black';
  background-color: 'transparent';
  border-color: 'transparent';
}

auto {
  background-color: 'black';
  width: 200px;
  height: 32px;
}

.music-album {
  text-transform: uppercase;
  margin-top: 10%;
  height: 383px;
  width: 589px;
  background-color: rgba(70, 67, 67, 0.8);
  display: inline-grid;
  margin-bottom: 0;
  padding: 0;
}


.music-album:hover {
  cursor: pointer;
  cursor: hand;
  transform: scale(1.03);
  transition-duration: 0.5s;
  background-color: rgba(50, 48, 48, 0.9);
}

.floatLeft {
  float: left;
  margin-left: 10%;
  width: 50%;
  height: 100%;
  text-align: left;
  display: block;
  margin-bottom: 14%;
  position: relative;
}

.whoBy {
  font-size: 12px;
  font-weight: 100;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.76);
}

.overlay3 {
  background-color: rgba(0,0,0,0.6)
}
