/* Main Page */
.event {
  width: 80%;
  border-bottom: 1px solid rgba(248, 245, 245, 0.32);
  padding: 3% 0%;
}

.songsList {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(248, 245, 245, 0.32);
  padding: 0% 0% 2% 0%;
}

.songName {
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

}

.shows {
  text-align: center;
  padding: 6% 10%;
  padding-right: 10%;
}

.title-show {
  padding-right: 17%;
  font-size: 98px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: auto;
  margin-bottom: 30px;
}

/* Events */

.date > ul li {
  list-style: none;
}

.event-details > ul li {
  list-style: none;
}

.event {
  display: flex;
  justify-content: flex-start;
}

/* For Each Show */

.date {
  text-align: left;
}

.event-details {
  text-align: left;
  margin-left: 37px;
}

.weekDay, .monthDate, .year {
  font-size: 40px;
}

.eventPlace, .time {
  font-size: 30px;
}

.address {
  margin-top: 25px;
  font-size: 18px;
  text-transform: capitalize;
}

.overlay2 {
  width: 100%;
  height: 100%;
  background-image: url("https://ucarecdn.com/01c2339a-9780-4d2a-bbad-2d6133706d4d/backposition.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.event:last-child{
  border-color: transparent;
}
