
/* Writings, Prose, & Poetry */

.writings {
  padding: 7% 24% 6% 10%;
  font-size: 24px;
}

.writings-kicker {
  margin-top: 10%;
  font-size: 39px;
  font-weight: 200;
  max-width: 700px;
  margin-left: 10%;
  margin-bottom: -10px;
  text-transform: uppercase;
}

.writings-quote {
  font-weight: 200;
  margin-bottom: 0;
  margin-left: 10%;
  max-width: 719px;
  font-size: 23px;
}

.final-quote {
  font-weight: 200;
  margin-left: 10%;
  max-width: 722px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.overlay5 {
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
