
/* Writings, Prose, & Poetry */

.writings {
  padding: 5% 30% 5% 10%;
  font-size: 24px;
}

.writings-kicker {
  margin-top: 8%;
  font-size: 55px;
  font-weight: 200;
  margin-bottom: -10px;
  text-transform: uppercase;
}

.writings-quote {
  font-weight: 200;
  margin-bottom: 0;
  font-size: 37px;
}

.final-quote {
  font-weight: 200;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.overlay5 {
  background-color: rgba(0, 0, 0, 0.3);
}
