
/* Writings, Prose, & Poetry */

.writings {
  font-family: 'Montserrat', serif;
  padding: 7% 24% 6% 10%;
  font-size: 24px;
}

.writingsContainer {
  background-image: url('https://res.cloudinary.com/ap-storage/image/upload/v1532115993/ap-bio.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90%;
  opacity: 1;
}

.writings-kicker {
  font-family: 'Montserrat', serif;
  margin-top: 4%;
  position: absolute;
  font-size: 39px;
  max-width: 750px;
  margin-bottom: -10px;
  text-transform: uppercase;
}

.writings-quote {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  position: absolute;
  margin-top: 12%;
  margin-bottom: 0;
  max-width: 750px;
  font-size: 23px;
}

.final-quote {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  position: absolute;
  max-width: 722px;
  font-size: 18px;
  line-height: 30px;
  margin-top: 17.7%;
  letter-spacing: 0.5px;
}

.overlay5 {
  overflow-y: hidden;
  height: 440;
  background-color: rgba(0, 0, 0, 0.6);
}

.america1 {
  position: absolute;
  margin-top: 38.5%;
  font-size: 19px
}

.america2 {
  position: absolute;
  font-size: 19px;
}

.america3 {
  font-size: 19px;
}
